<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Input</title>
</head>
<body>
    <label for="columnCreate">Kolom</label>
    <label for="rowCreate">Baris</label>
    <br>

    <label for="">Benefit</label>
    <br>

    <input type="number" class="columnCreate" placeholder="KolomBenefit" onchange="CreateBenefitColumn(this.value, document.getElementById('BarisBenefit').value)" id="KolomBenefit" value="1"/>
    <input type="number" class="rowCreate" placeholder="BarisBenefit" onchange="CreateBenefitColumn(document.getElementById('KolomBenefit').value, this.value)" id="BarisBenefit" value="1"/>
    <br>

    <label for="">Cost</label><br>
    <input type="number" class="columnCreate" placeholder="KolomCost" onchange="CreateCostColumn(this.value, document.getElementById('BarisCost').value)" id="KolomCost" value="1"/>
    <input type="number" class="rowCreate" placeholder="BarisCost" onchange="CreateCostColumn(document.getElementById('KolomCost').value, this.value)" id="BarisCost" value="1"/>   
    <form id="myForm">
        <label for="">tempat Input Benefit</label> <br>
        <div class="input" id="tempatInputBenefit">

        </div>
        <div class="input" id="hasilBenefit">

        </div>
        <label for="">tempat Input cost</label> <br>
        <div class="input" id="tempatInputCost">

        </div>
        <div class="input" id="hasilCost">

        </div>
        <button type="button" onclick="submitForm()">Kirim</button>

        
    </form>
    <div id="result"></div>
    <script>
        function callPythonFunction(inputArray) {
                    // Array yang ingin Anda proses

                    // Kirim array ke server Flask menggunakan AJAX
                    fetch('/process_array', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ array: inputArray }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response from the server
                        displayResult(data.result);
                        console.log('Result from Python:', data.result);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }

        function displayResult(result,place) {
            // Update the HTML element with the result
            let resultElement = document.getElementById(place);
            resultElement.innerHTML = 'Result: ' + result;
        }

        function parseStringArrayToFloat(inputArray) {
            // Mengecek apakah inputArray adalah array dan memiliki elemen
            if (!Array.isArray(inputArray) || inputArray.length === 0) {
                console.error('Input harus berupa array yang tidak kosong.');
                return null;
            }

            // Membuat array hasil yang akan diisi dengan nilai float
            let resultArray = [];

            // Melakukan iterasi pada setiap elemen array input
            for (let i = 0; i < inputArray.length; i++) {
                // Mengecek apakah setiap elemen adalah array
                if (!Array.isArray(inputArray[i])) {
                    console.error('Setiap elemen input harus berupa array.');
                    return null;
                }

                // Membuat array temporer untuk menyimpan nilai float dari setiap elemen array input
                let floatArray = [];

                // Melakukan iterasi pada setiap elemen dalam subarray
                for (let j = 0; j < inputArray[i].length; j++) {
                    // Mengubah string menjadi float, jika tidak dapat diubah, kembalikan null
                    let floatValue = parseFloat(inputArray[i][j]);
                    if (isNaN(floatValue)) {
                        console.error(`Nilai '${inputArray[i][j]}' pada posisi [${i}][${j}] tidak dapat diubah menjadi float.`);
                        return null;
                    }

                    // Menambahkan nilai float ke dalam array temporer
                    floatArray.push(floatValue);
                }

                // Menambahkan array temporer ke dalam array hasil
                resultArray.push(floatArray);
            }

            return resultArray;
        }

        function submitForm() {
            
            var reshapedCost = getCostElement();
            console.log("COST",reshapedCost);
            var floatCost = parseStringArrayToFloat(reshapedCost)
            console.log("COST",floatCost);
            var normalizedCost=normalizedCostElement(floatCost);
            
            displayResult(normalizedCost,"hasilCost");
            
            
            var reshapedBenefit = getBenefitElement();
            var floatBenefit = parseStringArrayToFloat(reshapedBenefit);
            var normalizedBenefit=normalizedBenefitElement(floatBenefit);
            displayResult(normalizedBenefit,"hasilBenefit");
            console.log("BENEFIT",reshapedBenefit);


            // var inputs = document.querySelectorAll('.inputArray');
            // var totalColumn= document.getElementById('kolom').value;
            // var dataArray = [];
    
            // inputs.forEach(function(input) {
            //     dataArray.push(input.value);
            // });
    
            //var reshapedArray = reshapeArray(dataArray,totalColumn);
            //console.log(reshapedArray);
            //callPythonFunction(reshapedArray);
        }
    
        // Fungsi untuk mengatur ulang struktur array
        function reshapeArray(dataArray, totalColumn) {
            let reshapedArray = [];
            for (var i = 0; i < dataArray.length; i += parseInt(totalColumn)) {
                reshapedArray.push(dataArray.slice(i, i + parseInt(totalColumn)));
            }
            return reshapedArray;
        }
///////////////////////////////////////////////////////////////////////////////////////////////////////
        //fungsi untu membuat kolom cost
        function perulanganKolomCost(count,wadah){
            for (var i = 0; i < count; i++) {

            var organDalam = document.createElement("input");
            organDalam.setAttribute("type", "number");
            organDalam.setAttribute("name", "inputArrayCost");
            organDalam.setAttribute("class", "inputArrayCost");
            organDalam.setAttribute("value", "1");
            organDalam.setAttribute("id", "inputCost");
            wadah.appendChild(organDalam);
            }
        }

        function perulaganBarisCost (countKolom,countBaris,wadah) {  
            for (var i = 0; i < countBaris; i++) {
                var spasi = document.createElement("br");
                perulanganKolomCost(countKolom,wadah);
                wadah.appendChild(spasi)
            }           
        }
        // handler untuk membuat kolom Cost
        function CreateCostColumn(columnCount,rowCount) {
            
            deleteElementsById('containerUntukInputCost')
            var kulit = document.getElementById('tempatInputCost');

            var daging = document.createElement("div")
            daging.setAttribute("name", "containerUntukInputCost");
            daging.setAttribute("id", "containerUntukInputCost");
            kulit.appendChild(daging)

            perulaganBarisCost(columnCount,rowCount,daging);
        }

        function getCostElement(){
            let inputss = document.querySelectorAll('.inputArrayCost');
            let totalColumn= document.getElementById('KolomCost').value;
            let dataArray = [];
    
            inputss.forEach(function(input) {
                dataArray.push(input.value);
            });
    
            let reshapedArray = reshapeArray(dataArray,totalColumn);
            return reshapedArray;
        }
        
        function normalizedCostElement(array) {
            if (array == null) {
                // Your code here
                return null;
            }
            // Pastikan array tidak kosong
            if (array.length === 0 || array[0].length === 0) {
                console.error('Array tidak valid untuk normalisasi.');
                return null;
            }

            let normalized = Array.from({ length: array.length }, () => Array(array[0].length).fill(0));
            let minValue = [];

            for (let colum = 0; colum < array[0].length; colum++) {
                let min = 10000;

                // Mendapatkan nilai minimum
                for (let row = 0; row < array.length; row++) {
                    if (array[row][colum] < min) {
                        min = array[row][colum];
                    }
                }

                minValue[colum] = min;
            }
            console.log('Min Values:', minValue);

            for (let row = 0; row < array.length; row++) {
                for (let colum = 0; colum < array[0].length; colum++) {
                    // Menghitung normalizer
                    normalized[row][colum] = minValue[colum] / array[row][colum];
                }
            }

            return normalized;
        }


///////////////////////////////////////////////////////////////////////////////////////////////////////
        //fungsi untu membuat kolom Benefit
        function perulanganKolomBenefit(count,wadah){
            for (var i = 0; i < count; i++) {

            var organDalam = document.createElement("input");
            organDalam.setAttribute("type", "number");
            organDalam.setAttribute("name", "inputArrayBenefit");
            organDalam.setAttribute("class", "inputArrayBenefit");
            organDalam.setAttribute("value", "1");
            organDalam.setAttribute("id", "inputBenefit");
            wadah.appendChild(organDalam);
            }
        }

        function perulaganBarisBenefit (countKolom,countBaris,wadah) {  
            for (var i = 0; i < countBaris; i++) {
                var spasi = document.createElement("br");
                perulanganKolomBenefit(countKolom,wadah);
                wadah.appendChild(spasi)
            }           
        }
        // handler untuk membuat kolom Benefit
        function CreateBenefitColumn(columnCount,rowCount) {
            
            deleteElementsById('containerUntukInputBenefit')
            var kulit = document.getElementById('tempatInputBenefit');

            var daging = document.createElement("div")
            daging.setAttribute("name", "containerUntukInputBenefit");
            daging.setAttribute("id", "containerUntukInputBenefit");
            kulit.appendChild(daging)

            perulaganBarisBenefit(columnCount,rowCount,daging);
        }

        function getBenefitElement(){
            let inputs = document.querySelectorAll('.inputArrayBenefit');
            let totalColumn= document.getElementById('KolomBenefit').value;
            let dataArray = [];
    
            inputs.forEach(function(input) {
                dataArray.push(input.value);
            });
    
            let reshapedArray = reshapeArray(dataArray,totalColumn);
            return reshapedArray;
        }
        
        function normalizedBenefitElement(array){
            if (array.length === 0 || array[0].length === 0) {
                console.error('Array tidak valid untuk normalisasi.');
                return null;
            }
            console.log(array[0][1]);
            let normalized = Array.from({ length: array.length }, () => Array(array[0].length).fill(0));
            var maxValue=[];

            
                for (var colum=0;colum<array[0].length;colum++){
                    max =0;
                    //getting the max value
                    for (var row=0;row<array.length;row++){
                        if (array[row][colum]>max){
                            max=array[row][colum];
                        }
                    }
                    maxValue[colum]=max;
                }
                console.log(maxValue)
            for (var row=0;row<array.length;row++){
                for (var colum=0;colum<array[0].length;colum++){
                    //count the normalizer
                    normalized[row][colum]=array[row][colum]/maxValue[colum];
                }
            }
            return normalized;
        }
///////////////////////////////////////////////////////////////////////////////////////////////////////
        function deleteElementsById(inputName) {
            var inputElements = document.getElementsByName(inputName);
            console.log(inputElements)
            // Menghapus semua elemen dengan atribut name yang sesuai
            for (var i = 0; i < inputElements.length; i++) {
                var parentElement = inputElements[i].parentNode;
                parentElement.removeChild(inputElements[i]);
            }
        }
    </script>
    
</body>
</html>
