<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Input</title>
</head>
<body>
    <form id="myForm">
        <table>
            <thead>
                <tr>
                    <th>Baris 1</th>
                    <th>Baris 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="inputArray" placeholder="Contoh: 1" /></td>
                    <td><input type="text" class="inputArray" placeholder="Contoh: 2" /></td>
                </tr>
            </tbody>
        </table>
        <button type="button" onclick="submitForm()">Kirim</button>
    </form>

    <script>
        function submitForm() {
            var inputs = document.querySelectorAll('.inputArray');
    
            var dataArray = [];
    
            inputs.forEach(function(input) {
                dataArray.push(input.value);
            });
    
            console.log(dataArray);
    
            var reshapedArray = reshapeArray(dataArray, 2);
            console.log(reshapedArray);
    
        }
    
        // Fungsi untuk mengatur ulang struktur array
        function reshapeArray(arr, cols) {
            var newArr = [];
            for (var i = 0; i < arr.length; i += cols) {
                newArr.push(arr.slice(i, i + cols));
            }
            return newArr;
        }
    </script>
    
</body>
</html>
