{% extends "base.html" %}
{% block content %}
<div class="teori-title text-center">
    <h1>Apa itu Preference Selection Index ?</h1>
</div>
<div class="definition-container">
    <div class="definition-title">
        <div class="summary">
            <p>
                &emsp;&emsp;Metode Preference Selection Index (PSI) dikembangkan oleh Maniya dan Bhatt (2010) untuk
                memecahkan
                masalah
                pengambilan keputusan multi-decesion (MCDM). Dalam metode yang diusulkan tidak perlu untuk menetapkan
                kepentingan relatif antar atribut. Metode ini berguna ketika ada konflik dalam menetukan
                kepentingan relatif antar
                atribut. Pada tahap perhitungan PSI bobot kriteria ditentukan oleh informasi yang terkandung dalam
                matriks keputusan,
                dengan standar deviasi atau metode entropi akan dapat mengidentifikasi bobot kriteria secara
                obyektif.
            </p>
        </div>
        <div class="summary">
            <p>
                SPI dapat dihitung dengan menggunakan beberapa kriteria atau faktor yang relevan dengan keputusan yang
                akan
                diambil. Setiap kriteria diberi bobot atau nilai kepentingan yang mencerminkan tingkat prioritasnya.
                Alternatif yang dinilai kemudian dinilai berdasarkan kriteria ini, dan SPI dihitung untuk masing-masing
                alternatif. SPI membantu dalam memberikan gambaran holistik tentang sejauh mana suatu alternatif
                memenuhi
                kriteria yang ditentukan.
            </p>

        </div>
    </div>
</div>

<div class="button-container">
    <a href="https://github.com/Aikhusy/PSI-Algorithm" target="_blank">
        <button type="button" class="btn btn-outline-dark">Github Repository</button>
    </a>
</div>
{% endblock %}